* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, #6eb6ff, #4864e6);
    color: #fff;
    overflow: hidden;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

/* Heading & Text */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: fadeIn 1.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

/* Button */
.button {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #6eb6ff, #4864e6);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    font-family: 'Roboto', sans-serif;

}

.button:hover {
    transform: scale(1.05);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}